target/classes/qp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="qpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/qp" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.sno] #[message.inboundProperties.'http.query.params'.sname] #[message.inboundProperties.'http.query.params'.marks]" doc:name="Set Payload"/>
        <set-variable variableName="sno" value="#[message.inboundProperties.'http.query.params'.sno]" doc:name="Variable"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <idempotent-message-filter idExpression="#[message.inboundProperties.'http.query.params'.sno]" throwOnUnaccepted="true" doc:name="Idempotent Message"/>
        <file:outbound-endpoint path="src/main/resources/out" responseTimeout="10000" doc:name="File"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Sno #[flowVars.sno]  already available can you pls enter new sno" doc:name="Set Payload"/>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
